* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1280px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}
.header {
    padding: 32px 0;
}
.header__nav {
    display: flex;
    justify-content: space-between;
}
.hn__block {
    display: flex;
    gap: 108px;
    align-items: center;
}
.hn__list {
    display: flex;
    list-style: none;
    gap: 69px;
}
.hn__list-link {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-decoration: none;
color: #40494D;
}
.hn__form {
    display: flex;
    gap: 15px;
    align-items: center;
}
.hn__form a {
    width: 58px;
    height: 56px;
    border: 1px solid #40494D;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    background: #283337;
border-radius: 56px;
border: none;
outline: none;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
.hn__form button {
    padding: 16px 25px 19px 25px;
}
.first__section {
    padding: 120px 0;
    background-color: #F3F7F4;
}
.fs__block {
    display: flex;
    gap: 150px;
    align-items: center;
    margin-bottom: 100px;
}
.fs__block--left h1 {
    font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;
letter-spacing: 1px;
color: #283337;
margin-bottom: 44px;
}
.fs__block--left p {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 31px;
color: #40494D;
margin-bottom: 26px;
max-width: 347PX;
width: 100%;
}
.fs__block--left button {
    padding: 16px 50px 19px 50px;
}
.fs__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-section {
    padding: 74px 0 100px 0;
    background-color: #FFFFFF;
}
.sd__block {
    display: flex;
    justify-content: space-between;
}
.sd__block--left {
    max-width: 363px;
    width: 100%;
}
.sd__block--left h1 {
    font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;
letter-spacing: 1px;
color: #283337;
margin-bottom: 28px;
}
.sd__block--left p {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 26px;
color: #40494D;
margin-bottom: 55px;
}
.btn {
    padding: 16px 25px 19px 25px;
}
.sd__block--right {
    background-color: #F3F7F4;
    padding: 80px 89px 80px 80px;
    max-width: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sd__block--right img {
    margin-bottom: 27px;
}
.sd__block--right h3 {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 34px;
color: #283337;
margin-bottom: 51px;
}
.sd__block--right p {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #40494D;
margin-bottom: 38px;
}
.sd__block--right a {
    font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
color: #283337;
align-self: flex-end;
text-decoration: none;
}
.third-section {
    padding: 224px 0 172px 0;
    background-color: #F3F7F4;
}
.td__block {
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.td__block-1 h1 {
    font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 60px;
text-align: center;
letter-spacing: 1px;
color: #283337;
}
.td__block-2 {
    display: flex;
    justify-content: space-between;
}
.td__block-2 h2 {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 70px;
text-align: center;
color: #283337;
}

.td__block-2 p {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #40494D;
}
.td__block--content-1 {
    max-width: 220px;
    width: 100%;
}
.td__block--content-2 {
    max-width: 201px;
    width: 100%;
}
.td__block--content-3 {
    max-width: 186px;
    width: 100%;
}
.fourth-section {
    padding: 144px 0 150px 0;
    border-color: #FFFFFF;
}
.fr__block {
    display: flex;
    gap: 234px;
}
.fr__block-1 {
    display: flex;
    flex-direction: column;
}
.fr__block-1 h1 {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #283337;
    margin-bottom: 43px;
    font-style: normal;
}
.fr__block-1 p {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #40494D;
    margin-bottom: 24px;
    font-style: normal;
}
.fr__block-1 h6 {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #283337;
    margin-bottom: 24px;
    font-style: normal;
}
.fr__block-2 img {
    margin-top: 88px;
}
.parag p {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #40494D;
    margin-bottom: 24px;
    font-style: normal;
}
.parag {
    margin-left: 34px;
}
.fr__block-1 a {
    font-family: 'Arial';
    font-weight: 700;
    font-style: normal;
    line-height: 36px;
    font-size: 18px;
    color: #40494D;
    text-decoration: none;
}
.ff__block {
    display: flex;
    flex-direction: column;
    gap: 86px;
}
.ff__block-1 h1 {
    font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 60px;
text-align: center;
letter-spacing: 1px;
color: #283337;
}
.ff__block-2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}
.sixth-section {
    background-color: #F3F7F4;
    padding: 144px 0 150px 0;
}
.st__block {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.st__block h1 {
    max-width: 1440px;
    width: 100%;
    font-family: 'Times New Roman';
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #283337;
}
.st__block h3 {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 33px;
    line-height: 36px;
    text-align: center;
    color: #283337;
    font-style: normal;
}
.st__block button {
    background: hsl(196, 16%, 19%);
    margin-left: 170px;
    margin: 48px 611px 150px 500px;
border-radius: 56px;
width: 218px;
height: 56px;
font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
justify-content: center;
}
.footer {
    background-color: #101C21;
    padding: 100px 0 53px 0;
}
.footer__top {
    display: flex;
    gap: 348px;
}
.footer__top--left {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.ftl__list {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
list-style: none;
color: #878D90;
display: flex;
flex-direction: column;
gap: 13px;
}
.ftl__list a {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #CFD2D3;
text-decoration: none;
}
.btn {
    padding: 16px 37px 19px 34px;
}
.footer__top--right {
    display: flex;
    flex-direction: column;
}
.ftr__block {
    display: flex;
    gap: 115px;
    margin-bottom: 57px;
}
.ftr__list {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 13px;
color: #878D90;
    list-style: none;
}
.ftr__list a {
color: #FFFFFF;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-decoration: none;
}
.ftr__block-2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.ftr__block-2 h3 {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 22px;
color: #FFFFFF;
}
.ftr__block-2 input {
    width: 461px;
    height: 56px;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 17px;

color: #878D90;
padding: 12px 347px 22px 39px;
}
.ftr__form {
    display: flex;
    gap: 20px;
}
.btn {
    padding: 19px 43px 20px 42px;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
}
.fb__detail {
    display: flex;
    gap: 35px;
}
.fb__detail p {
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
text-align: center;
color: #9FA4A6;
margin-left: 100px
}

@media (max-width: 1100px) {
    .fr__block {
        gap: 50px;
    }
    .ftr__form {
        flex-wrap: wrap;
    }
    .ftr__block {
        gap: 50px;
    }
}
@media (max-width:1000px) {
    .fs__block--left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fs__block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    .fr__block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .fr__block-2 img {
        margin-top: 40px;
    }
    .footer__top {
        flex-wrap: wrap;
        gap: 100px;
        justify-content: center;
    }
}
@media (max-width:805px) {
    .hn__block {
        gap: 50px;
    }
    .hn__list {
        gap: 20px;
    }
    .fb__detail {
        gap: 10px;
    }
    .fb__detail p {
        margin-left: 10px;
    }
    .st__block button {
        display: flex;
        align-items: center;
        margin: 0;
        align-self: center;
    }
    .fr__block-2 img {
        margin-top: 20px;
        max-width: 500px;
        width: 100%;
    }
    .third-section {
        padding: 100px;
    }
    .sd__block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .first__section {
        padding: 50px 0;
    }
    .fs__block--left h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .fs__block--left p {
        font-size: 15px;
    }
    .td__block-1 h1 {
        font-size: 30px;
    }
    .td__block-2 h2 {
        font-size: 30px;
    }
    .td__block-2 p {
        font-size: 10px;
    }
    .td__block {
        gap: 20px;
    }
    .sd__block--left h1 {
        font-size: 35px;
        margin-bottom: 5px;
    }
    .sd__block--left p {
        font-size: 10px;
        margin-bottom: 20px;
    }
    .btn {
        font-size: 10px;
    }
    .sd__block--right h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .sd__block--right img {
        margin-bottom: 15px;
    }
    .sd__block--right a {
        font-size: 13px;
    }
    .sd__block--right p {
        margin-bottom: 10px;
    }
    .fs__block--right img {
        max-width: 500px;
        width: 100%;
    }
    .header__nav-logo img {
        max-width: 125px;
        width: 100%;
    }
    .fs__cards {
        flex-wrap: wrap;
        justify-content: center;
    }
    .fr__block-1 h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .fr__block-1 p {
        font-size: 12px;
    }
    .fr__block-1 h6 {
        font-size: 8px;
        margin-bottom: 15px;
    }
    .parag p {
        font-size: 15px;
    }
    .fr__block-1 a{
        font-size: 13px;
    }
    .fourth-section {
        padding: 77px;
    }
    .ff__block {
        gap: 45px;
    }
    .ff__block-1 h1 {
        font-size: 35px;
    }
    .ff__block-2 {
        gap: 90px;
        margin-bottom: 85px;
    }
    .ff__block--content-1 img {
        max-width: 200px;
        width: 100%;
    }
    .ff__block--content-2 img {
        max-width: 200px;
        width: 100%;
    }
    .ff__block--content-3 img {
        max-width: 200px;
        width: 100%;
    }
    .st__block {
        gap: 20px;
    }
    .st__block h1 {
        font-size: 30px;
    }
    .st__block h3 {
        font-size: 20px;
    }
    .st__block button {
        font-size: 12px;
    }
    .footer__bottom {
        margin-top: 90px;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    .header__nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .hn__form button {
        padding: 13px;
    }
}
@media (max-width:600px) {
    .hn__block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .fs__cards {
        gap: 15px;
    }
    .ff__block-2 {
        gap: 20px;
    }
    .sixth-section {
        padding: 50px 0;
    }
    .second-section {
        padding: 50px 0;
    }
    .header {
        padding: 15px 0;
    }
    .third-section {
        padding: 50px;
    }
    .fourth-section {
        padding: 50px 0;
    }
    .ff__block-2 {
        margin-bottom: 50px;
    }
    .footer {
        padding: 50px;
    }
}
@media (max-width:405px) {
    .ftr__block {
        gap: 20px;
        justify-content: center;
        margin-bottom: 35px;
    }
    .ftr__block-2 input {
        width: 300px;
        padding: 12px 140px 22px 35px;
    }
    .ftr__form {
        justify-content: center;
    }
    .footer__bottom {
        margin-top: 50px;
    }
    .footer__top {
        gap: 50px;
    }
    .td__block-2 {
        gap: 10px;
    }
    .sd__block--right {
        padding: 80px 5px;
    }
    .fs__block {
        margin-bottom: 20px;
    }
}